<form>
  <div class="container">
    <h2>Request a certification</h2>
    <div class="fill"></div>
    <button mat-icon-button mat-dialog-close>x</button>
  </div>
  <mat-divider></mat-divider>
  <br />
  <h4>Choose a certification</h4>
  <mat-form-field appearance="outline">
    <mat-label>Choose Certification</mat-label>
    <mat-select>
      <mat-option>---None----</mat-option>
      <mat-option> Certification title </mat-option>
    </mat-select>

    <mat-hint>
      <div>
        <div>This field is required.</div>
      </div>
    </mat-hint>
  </mat-form-field>

  <br />
  <div>This certification is in quarter Q2</div>
  <mat-divider></mat-divider>
  <h4>Business Justification</h4>
  <mat-form-field appearance="outline" class="business-justification">
    <mat-label>Business Justification</mat-label>
    <textarea
      matInput
      placeholder="Ex. Employers looking to hire want you to have knowledge, experience and certifications in your areas of expertise."
      minlength="15"
    ></textarea>
    <mat-hint>
      <div>
        <div>
          The business justification must be at least 15 characters long.
        </div>
        <div>Business justification is required.</div>
      </div>
    </mat-hint>
  </mat-form-field>

  <div>
    <button mat-raised-button class="submit-button" disabled>
      Submit request
    </button>
  </div>

  <div>
    <button mat-raised-button mat-dialog-close class="submit-button">
      Submit request
    </button>
  </div>
</form>
