<mat-toolbar class="toolbar-color">
  <mat-icon class="toolbar-icon" [routerLink]="['/welcome-screen']"
    >blur_on</mat-icon
  ><a class="a">Cert-Master - admin</a>
  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/dashboard-user']">User</button>
      <button mat-menu-item [routerLink]="['/welcome-screen']">
        Disconnect
      </button>
    </mat-menu>
  </button>
</mat-toolbar>

<mat-card class="background">
  <div>
    <button
      mat-stroked-button
      class="filter-button"
      (click)="openDialogFilterModal()"
      matTooltip="Filter your search"
    >
      Choose filters
    </button>

    <div class="search-filtered">
      User requests filtered by: {{ filterStatus != '' ? 'Status' : '' }}
      {{ filterStatus }}
      {{ filterQuarter != '' ? 'Quarter Q' : '' }} {{ filterQuarter }}
    </div>
    <div fxFlex></div>

    <button mat-mini-fab class="excel-button">
      <a>
        <fa-icon
          [icon]="faFileExcel"
          style="font-size: 25px; color: white"
        ></fa-icon>
      </a>
    </button>
  </div>

  <mat-grid-list cols="4" rowHeight="670px">
    <mat-grid-tile>
      <mat-card class="cards">
        <div class="container">
          <a>
            <mat-card-title> John Doe </mat-card-title>
            <mat-card-subtitle> Request no. 34894893 </mat-card-subtitle>
          </a>
          <div class="fill"></div>
          <mat-card class="status">Pending</mat-card>
        </div>

        <mat-card-content class="spacing">
          <p>
            <sub><mat-icon class="icon">assignment</mat-icon></sub
            >Certification Title
          </p>
          <a>Certification Title right here</a>
          <hr />
          <p>
            <sub><mat-icon class="icon">style</mat-icon></sub
            >Category
          </p>
          <p>Category name here</p>
          <hr />
          <p>
            <sub><mat-icon class="icon">query_builder</mat-icon></sub
            >Quarter
          </p>
          <p>Q2</p>
          <hr />

          <p>
            <sub><mat-icon class="icon"> insert_comment</mat-icon></sub
            >Business Justification
          </p>
          <p>Lorem ipsum sajhfbjdskas</p>
        </mat-card-content>

        <div class="footer-buttons">
          <mat-card-content>
            <mat-grid-list cols="3">
              <a>
                <button mat-raised-button class="approve-button">
                  Approve
                </button>

                <button mat-raised-button class="reject-button">Reject</button>
              </a>
            </mat-grid-list>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>

    <!-------- SECOND REQUEST -------->
    <mat-grid-tile>
      <mat-card class="cards">
        <div class="container">
          <a>
            <mat-card-title> John Doe </mat-card-title>
            <mat-card-subtitle> Request no. 34894893 </mat-card-subtitle>
          </a>
          <div class="fill"></div>
          <mat-card class="status">Pending</mat-card>
        </div>

        <mat-card-content class="spacing">
          <p>
            <sub><mat-icon class="icon">assignment</mat-icon></sub
            >Certification Title
          </p>
          <a>Certification Title right here</a>
          <hr />
          <p>
            <sub><mat-icon class="icon">style</mat-icon></sub
            >Category
          </p>
          <p>Category name here</p>
          <hr />
          <p>
            <sub><mat-icon class="icon">query_builder</mat-icon></sub
            >Quarter
          </p>
          <p>Q2</p>
          <hr />

          <p>
            <sub><mat-icon class="icon"> insert_comment</mat-icon></sub
            >Business Justification
          </p>
          <p>Lorem ipsum sajhfbjdskas</p>
        </mat-card-content>

        <div class="footer-buttons">
          <mat-card-content>
            <mat-grid-list cols="3">
              <a>
                <button mat-raised-button class="approve-button">
                  Approve
                </button>

                <button mat-raised-button class="reject-button">Reject</button>
              </a>
            </mat-grid-list>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
