<mat-toolbar class="toolbar-color">
  <mat-icon class="icon" [routerLink]="['/welcome-screen']">blur_on</mat-icon
  ><a class="a">Cert-Master - user</a>
  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/dashboard-admin']">Admin</button>
      <button mat-menu-item [routerLink]="['/welcome-screen']">
        Disconnect
      </button>
    </mat-menu>
  </button>
</mat-toolbar>

<mat-card class="search-mat-card">
  <div>
    <input
      type="text"
      placeholder="    Look for a request"
      [(ngModel)]="term"
      class="search-box"
      #searchInput
    />
    <span matPrefix><mat-icon class="search-icon">search</mat-icon></span>
  </div>
</mat-card>

<div class="main-back">
  <mat-card class="mat-card-content">
    <br />
    <div>
      <button mat-mini-fab class="button" (click)="openDialogNewRequest()">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>

      <div fxFlex></div>

      <button
        mat-raised-button
        [routerLink]="['/all-certifications']"
        class="all-cert-button"
      >
        See all certifications
      </button>
    </div>
  </mat-card>
</div>
