<mat-toolbar class="toolbar-color">
  <mat-icon class="icon" [routerLink]="['/welcome-screen']">blur_on</mat-icon
  ><a class="a">Cert-Master - user</a>
  <span class="spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/dashboard-admin']">Admin</button>
      <button mat-menu-item [routerLink]="['/welcome-screen']">
        Disconnect
      </button>
    </mat-menu>
  </button>
</mat-toolbar>

<mat-card class="search-mat-card">
  <div>
    <input
      type="text"
      placeholder="    Look for a request"
      [(ngModel)]="term"
      class="search-box"
      #searchInput
    />
    <span matPrefix><mat-icon class="search-icon">search</mat-icon></span>
  </div>
</mat-card>

<div class="main-back">
  <mat-card class="mat-card-content">
    <br />
    <div>
      <button mat-mini-fab class="button" (click)="openDialogNewRequest()">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>

      <div fxFlex></div>

      <button
        mat-raised-button
        [routerLink]="['/all-certifications']"
        class="all-cert-button"
      >
        See all certifications
      </button>
    </div>

    <mat-grid-list cols="2" rowHeight="420px">
      <mat-grid-tile>
        <mat-card class="request-cards">
          <mat-grid-list cols="2">
            <mat-grid-tile>
              <mat-card-content>
                <div class="certification-title">
                  <p>Some title</p>
                </div>

                <br />

                <div class="certification-category">
                  <p>Category name</p>
                </div>
                <div class="align-status">
                  <div class="div-matcard-status">
                    <mat-card class="status"> Approved </mat-card>
                  </div>
                </div>
              </mat-card-content>
            </mat-grid-tile>

            <mat-grid-tile>
              <div class="vertical-line"></div>
              <mat-card-content>
                <p class="quarter-position">Quarter: Q2</p>
                <p class="cost-position">Cost: 8374287462$</p>
                <p class="business-justification-position">
                  Business Justification: lorem ipsum thingy
                </p>
              </mat-card-content>
            </mat-grid-tile>

            <div fxFlex></div>
            <button mat-icon-button [matMenuTriggerFor]="aboveMenu">
              <fa-icon [icon]="faEdit" class="edit-request-icon"></fa-icon>
            </button>
            <mat-menu
              #aboveMenu="matMenu"
              yPosition="above"
              backdropClass="delete-button"
            >
              <div>
                <button mat-menu-item color="accent">Edit justification</button>
              </div>
              <button
                mat-menu-item
                class="delete-button"
                (click)="deleteDialog()"
              >
                Delete request
              </button>
            </mat-menu>
          </mat-grid-list>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="request-cards">
          <mat-grid-list cols="2">
            <mat-grid-tile>
              <mat-card-content>
                <div class="certification-title">
                  <p>ISTQB</p>
                </div>

                <br />

                <div class="certification-category">
                  <p>Software</p>
                </div>
                <div class="align-status">
                  <div class="div-matcard-status">
                    <mat-card class="status"> Pending </mat-card>
                  </div>
                </div>
              </mat-card-content>
            </mat-grid-tile>

            <mat-grid-tile>
              <div class="vertical-line"></div>
              <mat-card-content>
                <p class="quarter-position">Quarter: Q3</p>
                <p class="cost-position">Cost: 874932$</p>
                <p class="business-justification-position">
                  Business Justification: djksfhsdsdkfbsdlkfndhifs
                </p>
              </mat-card-content>
            </mat-grid-tile>

            <div fxFlex></div>
            <button mat-icon-button [matMenuTriggerFor]="aboveMenu">
              <fa-icon [icon]="faEdit" class="edit-request-icon"></fa-icon>
            </button>
            <mat-menu
              #aboveMenu="matMenu"
              yPosition="above"
              backdropClass="delete-button"
            >
              <div>
                <button mat-menu-item color="accent">Edit justification</button>
              </div>
              <button mat-menu-item class="delete-button">
                Delete request
              </button>
            </mat-menu>
          </mat-grid-list>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
